:root {
  --bg-one-clr: hsl(0, 0%, 95%);
  --bg-two-clr: hsl(217, 10%, 25%);
  --dark-shadow: hsl(218, 20%, 16%);
  --accent-one-clr: hsl(26, 100%, 49%);
  --accent-two-clr: hsl(26, 78%, 81%);
}

.main {
  padding: 50px;
  text-align: left;
}

.main__title {
  text-align: center;
  color: var(--bg-two-clr);
  margin-block-end: 30px;
  font-size: clamp(2rem, 5vw, 3rem);
  isolation: isolate;
}

.events_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-block-start: 50px;
}

.btn {
  --offset: 4px;

  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  color: var(--bg-one-clr);
  background-color: var(--accent-one-clr);
  box-shadow: var(--offset) var(--offset) var(--accent-two-clr);
  transition: box-shadow 0.25s linear;
}

.btn:hover,
.btn:focus-visible {
  --offset: 2px;
  outline: none;
}

.event {
  background-color: var(--bg-one-clr);
  overflow: hidden;
  display: flex;
  max-width: 600px;
  min-height: 200px;
  max-height: 400px;
  border: 1px solid var(--dark-shadow);
  box-shadow: 10px 10px var(--dark-shadow);
}

.event__image {
  flex: 1;
}

.event__content {
  padding-block: 30px;
  padding-inline: 20px 50px;
}

.event__title {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  text-transform: uppercase;
  color: var(--bg-two-clr);
  margin-block-end: 20px;
  letter-spacing: 0.5px;
  isolation: isolate;
}

.event__date {
  background-color: var(--dark-shadow);
  color: var(--bg-one-clr);
  padding: 2px 10px;
  font-weight: bold;
  width: fit-content;
}

.event__desc {
  text-align: justify;
  hyphens: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin-block-start: 20px;
  height: 150px;
  line-height: 1.6;
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-start: 20px;
}

.event__link {
  color: var(--bg-two-clr);
}

.event__link:focus-visible {
  outline: 1px solid var(--bg-two-clr);
}

.event__infos_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

@media screen and (max-width: 1185px) {
  .event__image {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .event__image {
    display: block;
  }
}

@media screen and (max-width: 585px) {
  .event__image {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .event__content {
    padding-inline: 30px;
  }

  .event__title {
    font-size: 1.4rem;
  }
}
