@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-one-clr: hsl(0, 0%, 95%);
  --bg-two-clr: hsl(217, 10%, 25%);
  --dark-shadow: hsl(216, 18%, 16%);
  --accent-one-clr: hsl(26, 100%, 49%);
  --accent-two-clr: hsl(26, 78%, 81%);
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

.main {
  display: flex;
  width: 100vw;
}

section {
  flex: 1;
  min-height: 100vh;
}

.create_container {
  background-color: var(--bg-one-clr);
}

.preview_container {
  background-color: var(--bg-two-clr);
}

.wrapper {
  padding: 50px;
}

.title {
  margin-block-end: 30px;
  font-size: clamp(2rem, 5vw, 3rem);
}

.create__title {
  color: var(--bg-two-clr);
}

.preview__title {
  color: var(--bg-one-clr);
}

.create__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_wrapper {
  position: relative;
  margin-block: 15px;
}

.input {
  font-family: inherit;
  width: 400px;
  padding: 10px 15px;
  border: none;
  border-bottom: 3px solid var(--accent-one-clr);
  background-color: var(--accent-two-clr);
}

.input:focus-visible {
  outline: 1px solid var(--bg-two-clr);
}

.label {
  user-select: none;
  position: absolute;
  left: 0;
  top: -25px;
}

.desc_field {
  font-family: inherit;
  height: 170px;
  resize: none;
}

.btn {
  --offset: 4px;

  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  color: var(--bg-one-clr);
  background-color: var(--accent-one-clr);
  box-shadow: var(--offset) var(--offset) var(--accent-two-clr);
  transition: box-shadow 0.25s linear;
}

.btn:hover,
.btn:focus-visible {
  --offset: 2px;
  outline: none;
}

.submit_btn {
  margin-block-start: 15px;
  width: min-content;
}

.event {
  background-color: var(--bg-one-clr);
  overflow: hidden;
  display: flex;
  max-width: 600px;
  border: 1px solid var(--dark-shadow);
  box-shadow: 10px 10px var(--dark-shadow);
}

.event__image {
  flex: 1;
}

.event__content {
  padding-block: 30px;
  padding-inline: 20px 50px;
}

.event__title {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  text-transform: uppercase;
  color: var(--bg-two-clr);
  margin-block-end: 20px;
  letter-spacing: 0.5px;
  isolation: isolate;
}

.word {
  position: relative;
  margin-inline: 0;
  padding-inline: 5px;
}

.word::after {
  --box-shadow-clr: hsl(26, 97%, 73%);

  content: "";
  background-color: var(--box-shadow-clr);
  z-index: -1;
  position: absolute;
  right: 0;
  top: 65%;
  width: 100%;
  height: 15px;
}

.event__date {
  background-color: var(--dark-shadow);
  color: var(--bg-one-clr);
  padding: 2px 10px;
  font-weight: bold;
}

.event__desc {
  text-align: justify;
  hyphens: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  margin-block-start: 20px;
  line-height: 1.6;
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-start: 20px;
}

.event__link {
  color: var(--bg-two-clr);
}

.event__link:focus-visible {
  outline: 1px solid var(--bg-two-clr);
}

.floating_btn {
  --padding: 50px;

  position: fixed;
  bottom: var(--padding);
  left: var(--padding);
  background-color: var(--bg-two-clr);
  box-shadow: var(--offset) var(--offset) var(--dark-shadow);
}

@media screen and (max-width: 1100px) {
  .event__image {
    display: none;
  }

  .event__content {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .event__image {
    display: block;
  }

  .event__content {
    padding-inline: 20px 50px;
  }
}

@media screen and (max-width: 600px) {
  .event__image {
    display: none;
  }

  .event__content {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 500px) {
  .input {
    width: 300px;
  }
}
