@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --bg-one-clr: hsl(0, 0%, 95%);
    --bg-two-clr: hsl(216, 18%, 16%);
    --accent-one-clr: hsl(26, 100%, 49%);
    --accent-two-clr: hsl(26, 78%, 81%);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

main {
    background-color: var(--bg-one-clr);
    min-height: 100vh;
    padding-block-end: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 50px;
}

.main__title {
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--bg-two-clr)
}

.close-icon {
    --size: 50px; 

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    background-color: var(--accent-one-clr);
    padding: 10px;
    border-radius: 50%;
    transition: transform .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.close-icon:hover,
.close-icon:focus-visible {
    transform: scale(1.2);
}

.close-icon:focus-visible {
    outline: 2px solid var(--bg-two-clr);
}

.close-icon::before,
.close-icon::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--bg-one-clr);
}

.close-icon::before {
    transform: rotate(45deg);
}

.close-icon::after {
    transform: rotate(-45deg);
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));;
    gap: 2rem;
    padding-inline: 50px;
}

.info__title,
.info__property {
    color: var(--bg-two-clr);
}

.info__title {
    margin-block-end: 7px;
}

.info__container {
    display: flex;
    gap: 10px;
    margin-block-end: 5px;
}

.info__property {
    cursor: pointer;
}

.edit-btn {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transition: opacity .25s linear;
}

.info__container:hover .edit-btn {
    opacity: 1;
    pointer-events: all;
}

.bold {
    font-weight: bold;
}

.desc__property {
    max-width: 800px;
    text-align: justify;
    hyphens: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 20;
    overflow: hidden;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    margin-block-start: 10px;
    border-radius: 3px;
    font-weight: bold; 
    color: var(--bg-one-clr);
    background-color: var(--bg-two-clr);
    transition: opacity .25s linear; 
}

.btn:hover {
    opacity: .7; 
}

.btn:focus-visible {
    outline: 2px solid var(--accent-one-clr);
}

.danger-btn {
    background-color: var(--accent-one-clr);
}

.danger-btn:focus-visible {
    outline: 2px solid var(--bg-two-clr);
}

.save-btn {
    margin-block-start: 20px;
}

@media screen and (max-width: 400px) {
    .close-icon {
        --size: 35px; 
    }
}