:root {
    --text-clr: hsl(0, 0%, 95%); 
    --main-one-clr: hsl(26, 100%, 49%);
    --main-two-clr: hsl(216, 18%, 16%);
    --box-shadow: hsl(217, 10%, 25%);
}

.btn {
    --offset: 4px;

    cursor: pointer;
    border: none;
    font-weight: 900;
    padding: 10px 15px;
    color: var(--text-clr);
    transition: box-shadow .25s ease-in; 
}

.btn:hover,
.btn:focus-visible {
    --offset: 2px;
    outline: none;
}

.settings-btn {
    display: grid; 
    place-items: center;
}

.settings-btn img {
    color: var(--text-clr);
}

.light {
    background-color: var(--main-one-clr);
    border: 1px solid var(--main-two-clr);
    box-shadow: var(--offset) var(--offset) var(--main-two-clr);
}

.dark {
    background-color: var(--main-two-clr);
    box-shadow: var(--offset) var(--offset) var(--box-shadow);
}

.fixed {
    --padding: 50px;

    position: fixed;
    bottom: var(--padding);
}

.right {
    right: var(--padding);
}

.left {
    left: var(--padding);
}